tests/resources/pipelines/crp0001/crp0001_c_pl_prc_edw_bfcdt_process_data_AMR.json
{
	"name": "crp0001_c_pl_prc_edw_bfcdt_process_data_AMR",
	"properties": {
		"activities": [
			{
				"name": "If BAL_ACUM",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(intersection(pipeline().parameters.module, createArray('all','bal','acum','bal_acum'))))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set copy bal_acum",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "bal_acum",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "array_copy",
								"value": {
									"value": "@activity('bal_acum').output.runOutput",
									"type": "Expression"
								}
							}
						},
						{
							"name": "bal_acum",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Workspace/Shared/DAB-CRP0001/files/src/crp0001/bfc/crp0001_c_nb_prc_edw_l_bfc_datos_AMR",
								"baseParameters": {
									"datasource": {
										"value": "estrategdato_ap_bfc_balance_acumulado",
										"type": "Expression"
									},
									"flagFCL": {
										"value": "@pipeline().parameters.flagFCL",
										"type": "Expression"
									},
									"month": {
										"value": "@pipeline().parameters.customMonth",
										"type": "Expression"
									},
									"tabledestination": {
										"value": "datahub01%env%aucdatagold.finance.crp0001_tb_fac_x_bfc",
										"type": "Expression"
									},
									"typeExec": {
										"value": "@pipeline().parameters.typeExec",
										"type": "Expression"
									},
									"year": {
										"value": "@pipeline().parameters.customYear",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"jar": "@concat('/Volumes/datahub01',pipeline().globalParameters.env_variable,'aucdatagold/config_common/common_libraries/',pipeline().globalParameters.libFileName)"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "CRP0001_ls_databricks",
								"type": "LinkedServiceReference",
								"parameters": {
									"clusterVersion": {
										"value": "@pipeline().globalParameters.clusterVersion",
										"type": "Expression"
									},
									"numWorkers": {
										"value": "@pipeline().parameters.exec_bal",
										"type": "Expression"
									},
									"digitalCase": "CRP0001"
								}
							}
						}
					]
				}
			},
			{
				"name": "If BAL_MENS",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(intersection(pipeline().parameters.module, createArray('all','bal','mens','bal_mens'))))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set copy bal_mens",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "bal_mens",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "array_copy",
								"value": {
									"value": "@activity('bal_mens').output.runOutput",
									"type": "Expression"
								}
							}
						},
						{
							"name": "bal_mens",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Workspace/Shared/DAB-CRP0001/files/src/crp0001/bfc/crp0001_c_nb_prc_edw_l_bfc_datos_AMR",
								"baseParameters": {
									"datasource": {
										"value": "estrategdato_ap_bfc_balance_mensual",
										"type": "Expression"
									},
									"flagFCL": {
										"value": "@pipeline().parameters.flagFCL",
										"type": "Expression"
									},
									"month": {
										"value": "@pipeline().parameters.customMonth",
										"type": "Expression"
									},
									"tabledestination": {
										"value": "datahub01%env%aucdatagold.finance.crp0001_tb_fac_x_bfc",
										"type": "Expression"
									},
									"typeExec": {
										"value": "@pipeline().parameters.typeExec",
										"type": "Expression"
									},
									"year": {
										"value": "@pipeline().parameters.customYear",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"jar": "@concat('/Volumes/datahub01',pipeline().globalParameters.env_variable,'aucdatagold/config_common/common_libraries/',pipeline().globalParameters.libFileName)"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "CRP0001_ls_databricks",
								"type": "LinkedServiceReference",
								"parameters": {
									"clusterVersion": {
										"value": "@pipeline().globalParameters.clusterVersion",
										"type": "Expression"
									},
									"numWorkers": {
										"value": "@pipeline().parameters.exec_bal",
										"type": "Expression"
									},
									"digitalCase": "CRP0001"
								}
							}
						}
					]
				}
			},
			{
				"name": "If CR_ACUM",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If DATOS_MENS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(intersection(pipeline().parameters.module, createArray('all','cr','acum','cr_acum'))))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set copy cr_acum",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "cr_acum",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "array_copy",
								"value": {
									"value": "@activity('cr_acum').output.runOutput",
									"type": "Expression"
								}
							}
						},
						{
							"name": "cr_acum",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Workspace/Shared/DAB-CRP0001/files/src/crp0001/bfc/crp0001_c_nb_prc_edw_l_bfc_datos_AMR",
								"baseParameters": {
									"datasource": {
										"value": "estrategdato_ap_bfc_cuentaresultados_acumulado",
										"type": "Expression"
									},
									"flagFCL": {
										"value": "@pipeline().parameters.flagFCL",
										"type": "Expression"
									},
									"month": {
										"value": "@pipeline().parameters.customMonth",
										"type": "Expression"
									},
									"tabledestination": {
										"value": "datahub01%env%aucdatagold.finance.crp0001_tb_fac_x_bfc",
										"type": "Expression"
									},
									"typeExec": {
										"value": "@pipeline().parameters.typeExec",
										"type": "Expression"
									},
									"year": {
										"value": "@pipeline().parameters.customYear",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"jar": "@concat('/Volumes/datahub01',pipeline().globalParameters.env_variable,'aucdatagold/config_common/common_libraries/',pipeline().globalParameters.libFileName)"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "CRP0001_ls_databricks",
								"type": "LinkedServiceReference",
								"parameters": {
									"clusterVersion": {
										"value": "@pipeline().globalParameters.clusterVersion",
										"type": "Expression"
									},
									"numWorkers": {
										"value": "@pipeline().parameters.exec_cr",
										"type": "Expression"
									},
									"digitalCase": "CRP0001"
								}
							}
						}
					]
				}
			},
			{
				"name": "If CR_MENS",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If DATOS_ACUM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(intersection(pipeline().parameters.module, createArray('all','cr','mens','cr_mens'))))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set copy cr_mens",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "cr_mens",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "array_copy",
								"value": {
									"value": "@activity('cr_mens').output.runOutput",
									"type": "Expression"
								}
							}
						},
						{
							"name": "cr_mens",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Workspace/Shared/DAB-CRP0001/files/src/crp0001/bfc/crp0001_c_nb_prc_edw_l_bfc_datos_AMR",
								"baseParameters": {
									"datasource": {
										"value": "estrategdato_ap_bfc_cuentaresultados_mensual",
										"type": "Expression"
									},
									"flagFCL": {
										"value": "@pipeline().parameters.flagFCL",
										"type": "Expression"
									},
									"month": {
										"value": "@pipeline().parameters.customMonth",
										"type": "Expression"
									},
									"tabledestination": {
										"value": "datahub01%env%aucdatagold.finance.crp0001_tb_fac_x_bfc",
										"type": "Expression"
									},
									"typeExec": {
										"value": "@pipeline().parameters.typeExec",
										"type": "Expression"
									},
									"year": {
										"value": "@pipeline().parameters.customYear",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"jar": "@concat('/Volumes/datahub01',pipeline().globalParameters.env_variable,'aucdatagold/config_common/common_libraries/',pipeline().globalParameters.libFileName)"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "CRP0001_ls_databricks",
								"type": "LinkedServiceReference",
								"parameters": {
									"clusterVersion": {
										"value": "@pipeline().globalParameters.clusterVersion",
										"type": "Expression"
									},
									"numWorkers": {
										"value": "@pipeline().parameters.exec_cr",
										"type": "Expression"
									},
									"digitalCase": "CRP0001"
								}
							}
						}
					]
				}
			},
			{
				"name": "If TOTALES_ACUM",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If DATOS_ACUM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n  not(empty(intersection(pipeline().parameters.module, createArray('all','total','acum','total_acum')))),\n  equals(pipeline().parameters.flagFCL, 'false')\n)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set copy totales_acum",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "totales_acum",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "array_copy",
								"value": {
									"value": "@activity('totales_acum').output.runOutput",
									"type": "Expression"
								}
							}
						},
						{
							"name": "totales_acum",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Workspace/Shared/DAB-CRP0001/files/src/crp0001/bfc/crp0001_c_nb_prc_edw_l_bfc_datos_AMR",
								"baseParameters": {
									"datasource": {
										"value": "estrategdato_ap_bfc_totales_acumulado",
										"type": "Expression"
									},
									"flagFCL": {
										"value": "@pipeline().parameters.flagFCL",
										"type": "Expression"
									},
									"month": {
										"value": "@pipeline().parameters.customMonth",
										"type": "Expression"
									},
									"tabledestination": {
										"value": "datahub01%env%aucdatagold.finance.crp0001_tb_fac_x_bfc",
										"type": "Expression"
									},
									"typeExec": {
										"value": "@pipeline().parameters.typeExec",
										"type": "Expression"
									},
									"year": {
										"value": "@pipeline().parameters.customYear",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"jar": "@concat('/Volumes/datahub01',pipeline().globalParameters.env_variable,'aucdatagold/config_common/common_libraries/',pipeline().globalParameters.libFileName)"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "CRP0001_ls_databricks",
								"type": "LinkedServiceReference",
								"parameters": {
									"clusterVersion": {
										"value": "@pipeline().globalParameters.clusterVersion",
										"type": "Expression"
									},
									"numWorkers": {
										"value": "@pipeline().parameters.exec_total",
										"type": "Expression"
									},
									"digitalCase": "CRP0001"
								}
							}
						}
					]
				}
			},
			{
				"name": "If TOTALES_MENS",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If DATOS_MENS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n  not(empty(intersection(pipeline().parameters.module, createArray('all','total','mens','total_mens')))),\n  equals(pipeline().parameters.flagFCL, 'false')\n)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set copy total_mens",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "total_mens",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "array_copy",
								"value": {
									"value": "@activity('total_mens').output.runOutput",
									"type": "Expression"
								}
							}
						},
						{
							"name": "total_mens",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Workspace/Shared/DAB-CRP0001/files/src/crp0001/bfc/crp0001_c_nb_prc_edw_l_bfc_datos_AMR",
								"baseParameters": {
									"datasource": {
										"value": "estrategdato_ap_bfc_totales_mensual",
										"type": "Expression"
									},
									"flagFCL": {
										"value": "@pipeline().parameters.flagFCL",
										"type": "Expression"
									},
									"month": {
										"value": "@pipeline().parameters.customMonth",
										"type": "Expression"
									},
									"tabledestination": {
										"value": "datahub01%env%aucdatagold.finance.crp0001_tb_fac_x_bfc",
										"type": "Expression"
									},
									"typeExec": {
										"value": "@pipeline().parameters.typeExec",
										"type": "Expression"
									},
									"year": {
										"value": "@pipeline().parameters.customYear",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"jar": "@concat('/Volumes/datahub01',pipeline().globalParameters.env_variable,'aucdatagold/config_common/common_libraries/',pipeline().globalParameters.libFileName)"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "CRP0001_ls_databricks",
								"type": "LinkedServiceReference",
								"parameters": {
									"clusterVersion": {
										"value": "@pipeline().globalParameters.clusterVersion",
										"type": "Expression"
									},
									"numWorkers": {
										"value": "@pipeline().parameters.exec_total",
										"type": "Expression"
									},
									"digitalCase": "CRP0001"
								}
							}
						}
					]
				}
			},
			{
				"name": "If DATOS_ACUM",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If BAL_ACUM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(intersection(pipeline().parameters.module, createArray('all','datos','acum','datos_acum'))))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set copy datos_acum",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "datos_acum",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "array_copy",
								"value": {
									"value": "@activity('datos_acum').output.runOutput",
									"type": "Expression"
								}
							}
						},
						{
							"name": "datos_acum",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Workspace/Shared/DAB-CRP0001/files/src/crp0001/bfc/crp0001_c_nb_prc_edw_l_bfc_datos_AMR",
								"baseParameters": {
									"datasource": {
										"value": "estrategdato_ap_bfc_datos_acumulado",
										"type": "Expression"
									},
									"flagFCL": {
										"value": "@pipeline().parameters.flagFCL",
										"type": "Expression"
									},
									"month": {
										"value": "@pipeline().parameters.customMonth",
										"type": "Expression"
									},
									"tabledestination": {
										"value": "datahub01%env%aucdatagold.finance.crp0001_tb_fac_x_bfc",
										"type": "Expression"
									},
									"typeExec": {
										"value": "@pipeline().parameters.typeExec",
										"type": "Expression"
									},
									"year": {
										"value": "@pipeline().parameters.customYear",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"jar": "@concat('/Volumes/datahub01',pipeline().globalParameters.env_variable,'aucdatagold/config_common/common_libraries/',pipeline().globalParameters.libFileName)"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "CRP0001_ls_databricks",
								"type": "LinkedServiceReference",
								"parameters": {
									"clusterVersion": {
										"value": "@pipeline().globalParameters.clusterVersion",
										"type": "Expression"
									},
									"numWorkers": {
										"value": "@pipeline().parameters.exec_data",
										"type": "Expression"
									},
									"digitalCase": "CRP0001"
								}
							}
						}
					]
				}
			},
			{
				"name": "If DATOS_MENS",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If BAL_MENS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(intersection(pipeline().parameters.module, createArray('all','datos','mens','datos_mens'))))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set copy datos_mens",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "datos_mens",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "array_copy",
								"value": {
									"value": "@activity('datos_mens').output.runOutput",
									"type": "Expression"
								}
							}
						},
						{
							"name": "datos_mens",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Workspace/Shared/DAB-CRP0001/files/src/crp0001/bfc/crp0001_c_nb_prc_edw_l_bfc_datos_AMR",
								"baseParameters": {
									"datasource": {
										"value": "estrategdato_ap_bfc_datos_mensual",
										"type": "Expression"
									},
									"flagFCL": {
										"value": "@pipeline().parameters.flagFCL",
										"type": "Expression"
									},
									"month": {
										"value": "@pipeline().parameters.customMonth",
										"type": "Expression"
									},
									"tabledestination": {
										"value": "datahub01%env%aucdatagold.finance.crp0001_tb_fac_x_bfc",
										"type": "Expression"
									},
									"typeExec": {
										"value": "@pipeline().parameters.typeExec",
										"type": "Expression"
									},
									"year": {
										"value": "@pipeline().parameters.customYear",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"jar": "@concat('/Volumes/datahub01',pipeline().globalParameters.env_variable,'aucdatagold/config_common/common_libraries/',pipeline().globalParameters.libFileName)"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "CRP0001_ls_databricks",
								"type": "LinkedServiceReference",
								"parameters": {
									"clusterVersion": {
										"value": "@pipeline().globalParameters.clusterVersion",
										"type": "Expression"
									},
									"numWorkers": {
										"value": "@pipeline().parameters.exec_data",
										"type": "Expression"
									},
									"digitalCase": "CRP0001"
								}
							}
						}
					]
				}
			},
			{
				"name": "formulas_ma",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If DATOS_ACUM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "crp0001_c_pl_anl_anl_formulas_ma",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tabledestination": "datahub01%env%aucdatagold.finance.crp0001_tb_fac_x_financiero"
					}
				}
			},
			{
				"name": "mkstring",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If CR_MENS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If TOTALES_ACUM",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "formulas_ma",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If CR_ACUM",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If TOTALES_MENS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "str_array",
							"value": {
								"type": "Expression",
								"content": "@join(variables('array_copy'),',')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"customMonth": {
				"type": "string",
				"defaultValue": "01"
			},
			"customYear": {
				"type": "string",
				"defaultValue": "2022"
			},
			"exec_bal": {
				"type": "string",
				"defaultValue": "5"
			},
			"exec_cr": {
				"type": "string",
				"defaultValue": "2"
			},
			"exec_data": {
				"type": "string",
				"defaultValue": "5"
			},
			"exec_total": {
				"type": "string",
				"defaultValue": "2"
			},
			"flagFCL": {
				"type": "string",
				"defaultValue": "false"
			},
			"module": {
				"type": "array",
				"defaultValue": [
					"all"
				]
			},
			"tabledestination": {
				"type": "string"
			},
			"typeExec": {
				"type": "string",
				"defaultValue": "custom"
			}
		},
		"variables": {
			"array_copy": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "crp0001/bfc/AMR"
		},
		"annotations": []
	}
}